<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978813783896-lg0bgtd3g4bh9h1pio6n9891hil32f2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978813783896-lg0bgtd3g4bh9h1pio6n9891hil32f2t</string>
	<key>API_KEY</key>
	<string>AIzaSyBHZLiyAoY4PhDAJxoV2VQY9maAsQWLjAE</string>
	<key>GCM_SENDER_ID</key>
	<string>978813783896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flashchat1-9a692</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat1-9a692.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978813783896:ios:f22f68d33f129393aa5f2d</string>
</dict>
</plist>